<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-700 font-medium rounded-lg"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="text-4xl font-bold text-gray-800">Usuarios</h1>
    <div class="flex space-x-3">
      <%= link_to "Invitar Usuarios", new_user_invitation_path, class: "py-2 px-4 bg-primary text-white rounded-lg hover:bg-blue-500" %>
      <!--
      <%= link_to "Nuevo Usuario", new_user_path, class: "py-2 px-4 bg-primary text-white rounded-lg hover:bg-blue-500" %>
       -->
    </div>
  </div>

  <!-- Filtro por tipo de usuario -->
  <div class="mb-6">
    <%= form_with url: users_path, method: :get, local: true do %>
      <div class="flex items-center space-x-4">
        <%= label_tag :search, "Buscar:" %>
        <%= text_field_tag :search, params[:search], class: "py-2 px-4 border rounded-lg" %>
        <%= label_tag :role, "Filtrar por tipo de usuario:" %>
        <%= select_tag :role, options_for_select(User::ROLES, params[:role]), include_blank: "Todos", class: "py-2 px-4 border rounded-lg" %>
        <%= submit_tag "Filtrar", class: "py-2 px-4 bg-primary text-white rounded-lg hover:bg-blue-500" %>
      </div>
    <% end %>
  </div>

  <!-- Grid adaptable -->
  <div id="users" class="grid gap-6 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
    <% @users.each do |user| %>
      <%= link_to user_path(user), class: "block bg-white shadow-md rounded-lg p-6 my-4 hover:bg-gray-100" do %>
        <%= render user %>
      <% end %>
    <% end %>
  </div>
</div>
