<%= form_with(model: category, class: "contents") do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div data-controller="nested-form">
    <button type="button" id="addParticipantButton" data-action="click->nested-form#add">Agregar Scraper</button>
    <div class="participants" data-nested-form-target="container">
      <%= form.fields_for :links do |g| %>
        <div class="my-5">
          <%= g.label :url %>
          <%= g.text_field :url, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        </div>
        <div class="my-5">
          <%= g.label :scraper, 'Selecciona una opcion' %>
          <%= g.select :scraper, options_for_select([['japangameonline', 'japangameonline'], ['compragamer', 'compragamer'], ['hardvisionlr', 'hardvisionlr']], g.object.scraper),
                       { include_blank: true },
                       { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
        </div>
      <% end %>
    </div>

    <template data-nested-form-target="template">
      <%= form.fields_for :links, category.links.build, child_index: "NEW_RECORD" do |g| %>
        <div class="my-5">
          <%= g.label :url %>
          <%= g.text_field :url, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
        </div>
        <div class="my-5">
          <%= g.label :scraper, "Selecciona una opción" %>
          <%= g.select :scraper, options_for_select([['japangameonline', 'japangameonline'], ['compragamer', 'compragamer'], ['hardvisionlr', 'hardvisionlr']]),
            { include_blank: 'Por favor selecciona una opción' },
            { class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" } %>
        </div>

      <% end %>
    </template>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
