<div class="mx-auto md:w-2/3 w-full p-6 bg-white rounded-lg shadow-md border border-gray-300">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice">
      <%= notice %>
    </p>
  <% end %>

  <!-- Render del producto -->
  <div class="mb-6">
    <div class="photo-viewer" style="view-transition-name: photo_<%= @product.id %>">
      <img src="<%= @product.img_url %>" alt="<%= @product.name %>" class="w-full h-auto object-cover rounded-md shadow-md">
    </div>
    <div>
      <p class="mb-4">
        <strong class="block text-lg font-semibold text-gray-900">Nombre:</strong>
        <span class="text-gray-700"><%= @product.name %></span>
      </p>

      <p class="mb-4">
        <strong class="block text-lg font-semibold text-gray-900">Descripción:</strong>
        <span class="text-gray-600"><%= @product.description %></span>
      </p>

      <p class="mb-4">
        <strong class="block text-lg font-semibold text-gray-900">Precio:</strong>
        <span class="text-primary text-2xl font-bold">$<%= @product.price %></span>
      </p>

      <p class="mb-4">
        <strong class="block text-lg font-semibold text-gray-900">Categoría:</strong>
        <span class="text-gray-700"><%= @product.category.name %></span>
      </p>
      <div class="my-8 w-full">
        <h2 class="text-lg font-semibold text-gray-900">Precios historicos:</h2>
        <div class="w-full" data-controller="product" data-product-history-value="<%= @product.product_histories.where('updated_at >= ?', 7.days.ago).to_json %>">
          <canvas id="productChart" class="w-full"></canvas>
        </div>
      </div>

      <p class="mb-4">
        <a href="<%= @product.url %>" target="_blank" rel="noopener noreferrer" class="bg-primary text-white py-3 px-6 rounded-lg hover:bg-green-900 text-lg font-semibold block text-center shadow-lg transition-all duration-300">
            Ver en sitio
        </a>
      </p>
    </div>
  </div>

  <!-- Botones de acciones -->
  <div class="flex flex-wrap justify-start space-x-4">
    <%= link_to "Editar producto", edit_product_path(@product), class: "mt-2 rounded-lg py-3 px-5 bg-blue-500 text-white inline-block font-medium hover:bg-blue-600" %>
    
    <%= link_to "Volver a productos", products_path, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 text-gray-700 inline-block font-medium hover:bg-gray-200" %>
    
    <div>
      <%= button_to "Eliminar producto", @product, method: :delete, data: { confirm: "¿Estás seguro?" }, class: "mt-2 rounded-lg py-3 px-5 bg-red-500 text-white font-medium hover:bg-red-600" %>
    </div>
  </div>
</div>
